@model Entity.Banco.MVC.Web.Models.Carro
@{
    ViewBag.Title = "Excluir";
}

<h2>
    Tem certeza que deseja excluir o
    Carro <b>@Model.Modelo</b>?
</h2>

@using (@Html.BeginForm("ExcluirConfirm", "Carro"))
{
    @Html.HiddenFor(c => c.CarroId)
    <input type="submit" value="Excluir"
           class="btn btn-danger" />
    @Html.ActionLink("Cancelar", "Listar",
            "Cargo", new { @class = "btn btn-default" })
}