@model Entity.Banco.MVC.Web.Models.Pagamento
@{
    ViewBag.Title = "Excluir";
}

<h2>
    Tem certeza que deseja excluir o
    Pagamento <b>@Model.Valor</b>?
</h2>

@using (@Html.BeginForm("ExcluirConfirm", "Pagamento"))
{
    @Html.HiddenFor(p => p.PagamentoId)
    <input type="submit" value="Excluir"
           class="btn btn-danger" />
    @Html.ActionLink("Cancelar", "Listar",
            "Pagamento", new { @class = "btn btn-default" })
}