@model Entity.Banco.MVC.Web.Models.Lavagem
@{
    ViewBag.Title = "Excluir";
}

<h2>
    Tem certeza que deseja excluir a
    Lavagem <b>@Model.Tipo</b>?
</h2>

@using (@Html.BeginForm("ExcluirConfirm", "Lavagem"))
{
    @Html.HiddenFor(l => l.LavagemId)
    <input type="submit" value="Excluir"
           class="btn btn-danger" />
    @Html.ActionLink("Cancelar", "Listar",
            "Lavagem", new { @class = "btn btn-default" })
}


