@model Code.Cadastro.UI.Web.Models.Cargo
@{
    ViewBag.Title = "Excluir Cargo";
}

<h2>Deseja excluir o cargo <b>@Model.Titulo</b>?</h2>
@using (@Html.BeginForm("ExcluirConfirm", "Cargo"))
{
    @Html.HiddenFor(c => c.CargoId)
    <input type="submit" value="Excluir"
           class="btn btn-danger" />
    <!-- link para voltar-->
    @Html.ActionLink("Voltar", "Listar", "Cargo",
                          new { @class = "btn btn-default" })
}

