@model Entity.Banco.MVC.Web.Models.Cargo
@{
    ViewBag.Title = "Excluir";
}

<h2>
    Tem certeza que deseja excluir o
    Cargo <b>@Model.Descricao</b>?
</h2>

@using (@Html.BeginForm("ExcluirConfirm", "Cargo"))
{
    @Html.HiddenFor(c => c.CargoId)
    <input type="submit" value="Excluir"
           class="btn btn-danger" />
    @Html.ActionLink("Cancelar", "Listar",
            "Cargo", new { @class = "btn btn-default" })
}